.maxer{
  max-width: 1464px;
  margin: 64px 60px 96px 60px;
}

@media only screen and (max-width: 762px) {
  .maxer{
    margin: 64px 0 45px;
  }
}

@media only screen and (min-width: 1464px) {
  .maxer{
    margin: 64px 128px 96px 128px;
  }
}

.topTitles{
  display: flex;
  justify-content: space-between;
  margin: 0 24px 24px 24px;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 762px) {
  .topTitles{
  margin-bottom: 16px;
}
}

.showTitle{
  font-size: 16px;
  color: rgba(31, 37, 46, 1);
}

.total{
  font-size: 14px;
  color: rgba(0, 135, 205, 1);
  cursor: pointer;
}

.btnGrp{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btnArrow{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDEDF;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media only screen and (max-width: 762px) {
  .btnArrow{
    display: none;
  }
}

.chevron{
  color:#57667E;
  font-size: 1.5rem;
}